{% extends 'base.html' %}

{% block title %}Car List{% endblock %}

{% block content %}
<h1>Car List</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">VIN</th>
        <th scope="col">Year</th>
        <th scope="col">Make</th>
        <th scope="col">Model</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>
        <th scope="col">Bid</th>
        <th scope="col">Buyer Fee</th>
        <th scope="col">Fixed Fee</th>
        <th scope="col">Storage Fee</th>
        <th scope="col">Late Payment Fee</th>
        <th scope="col">Others Fees</th>
        <th scope="col">Transport</th>
        <th scope="col">Dismantle</th>
        <th scope="col">Weight</th>
        <th scope="col">LOT</th>
        <th scope="col">Site</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for car in cars %}
      <tr class="table-primary">
        <!-- <th>{{ car.VIN }}</th> -->
        <th><a class="nav_link" href="{% url 'car_detail' car.pk %}">{{ car.VIN }}</a></th>
        <th>{{ car.year }}</th>
        <th>{{ car.make }}</th>
        <th>{{ car.model }}</th>
        <td>{{ car.date }}</td>
        <td>{{ car.status }}</td>
        <td>{{ car.bid }}</td>
        <td>{{ car.buyer_fee }}</td>
        <td>{{ car.fixed_fee }}</td>
        <td>{{ car.storage_fee }}</td>
        <td>{{ car.late_payment_fee }}</td>
        <td>{{ car.others_fees }}</td>
        <td>{{ car.transport }}</td>
        <td>{{ car.dismantle }}</td>
        <td>{{ car.weight }}</td>
        <td>{{ car.LOT }}</td>
        <td><a href="{{ car.site }}">Link to the auction</a></td>
        <td>
          <a href="{% url 'car_update' car.id %}">Edit</a>
          <form action="{% url 'car_delete' car.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="12">No cars found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'car_create' %}">Add Car</a>
  <a href="{% url 'parts' %}">Parts</a>
{% endblock %}