{% extends 'base.html' %}

{% block title%}Car Detail{% endblock %}

{% block content %}
<h3>Car detail</h3>
<div class="container">
    <div class="row align-items-center">
        <div class="col-3">
            <p><b>VIN:</b> {{car.VIN}}</p>
            <p><b>Year:</b> {{car.year}}</p>
            <p><b>Make:</b> {{car.make}}</p>
            <p><b>Model:</b> {{car.model}}</p>
        </div>
        <div class="col-sm">
            <img src="{{car.picture}}" class="img-thumbnail">
        </div>
            </div>
</div>
<h2>Part List</h2>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Status</th>
        <th scope="col">Type</th>
        <th scope="col">Max Value</th>
        <th scope="col">Value Paid</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for part in part %}
      <tr class="table-primary">
        <th>{{ part.status }}</th>
        <th>{{ part.type }}</th>
        <th>{{ part.max_value }}</th>
        <td>{{ part.value_paid }}</td>
        <td>
          <a href="{% url 'part_update' part.id %}">Edit</a>
          <form action="{% url 'part_delete' part.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="12">No parts found.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
