{% extends 'base.html' %}

{% block title %}VIN{% endblock %}

{% block content %}
<div class="container-fluid p-2 bg-primary text-white text-center">
    <h1>Car Value</h1>
</div>
<form action="{% url 'vins' %}" method="get">
    <input name="vinField" type="text" placeholder="Search a car by VIN...">
</form>
<div class="container mt-5">
    <p><b>VIN: </b>{{ vins.Results.5.Value }}</p>
    <p><b>Year: </b> {{ vins.Results.10.Value }}</p>
    <p><b>Make: </b> {{ vins.Results.7.Value }}</p>
    <p><b>Model: </b> {{ vins.Results.9.Value }} {{ vins.Results.12.Value }}</p>
    <p><b>Body Class: </b> {{ vins.Results.23.Value }}</p>
    <p><b>Doors: </b> {{ vins.Results.24.Value }}</p>
    <p><b>Drive Type: </b> {{ vins.Results.51.Value }}</p>
    <p><b>Engine Number of Cylinders: </b> {{ vins.Results.70.Value }}</p>
    <p><b>Liter: </b> {{ vins.Results.73.Value }}</p>
    <p><b>Turbo: </b> {{ vins.Results.87.Value }}</p>
</div>

<h3>Expected Price: <b>US$ {{expected_price}}</b></h3>
<div class="containter mt-5">
    <p><b>Details:</b></p>
    <p><b>Salvage:</b> US$ 300,00</p>
    <p><b>Catalyst:</b> US$ 100,00</p>
    <p><b>Wires:</b> US$ 64,00</p>
    <p><b>Wheels:</b> US$ 80,00</p>
    <p><b>Tires:</b> US$ 30,00</p>
    <p><b>Battery:</b> US$ 10,00</p>
    <p><b>Radiator:</b> US$ 5,00</p>
    {% for price in prices %}
    <p><b>{{price.type}}:</b> US$ {{price.price}}</p>
    {% endfor %}
</div>
{% endblock %}